Repository caue-paiva/orcid-project-aidentro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @caue-paiva, @lejonck, @lfelipediniz, @Peloro, @SenaJesus

feat(frontend) front-end search now works
  src/frontend/src/api/orcidApi.ts
  src/frontend/src/pages/Search.tsx
  src/frontend/src/utils/orcidQueryBuilder.ts
Owners: @SenaJesus, @Peloro

feat(backend): back-end endpoint for searching researchers with Orcid API
  src/backend/config/urls.py
  src/backend/integrations/orcid_api.py
  src/backend/oauth/oauth_views.py
Owners: @lejonck, @lfelipediniz

feat(front-end): Added new page for rendering citation for searched researches change(front-end): search now has a name field
  src/frontend/src/App.tsx
  src/frontend/src/pages/DashboardSocial.tsx
  src/frontend/src/pages/Search.tsx
Owners: @SenaJesus, @Peloro

feat(frontend) front-end search now works
  src/frontend/src/pages/Search.tsx
Owners: @SenaJesus, @Peloro

feat(back-end): new api path for fetching author publications feat(front-end): Now rendering author papers on dashboard
  src/backend/config/urls.py
  src/backend/oauth/oauth_views.py
  src/frontend/src/api/orcidApi.ts
  src/frontend/src/components/dashboard/RecentPublications.tsx
  src/frontend/src/pages/Dashboard.tsx
  src/frontend/src/pages/DashboardSocial.tsx
  src/frontend/src/pages/Search.tsx
Owners: @lejonck, @lfelipediniz, @SenaJesus, @Peloro

feat(front-end) new landing page
  src/frontend/src/pages/Dashboard.tsx
  src/frontend/src/pages/Home.tsx
Owners: @SenaJesus, @Peloro

fix vercel path
  src/frontend/src/pages/Home.tsx
  src/frontend/vercel.json
Owners: @SenaJesus, @Peloro

feat(front-end) new landing page
  src/frontend/src/pages/Dashboard.tsx
  src/frontend/src/pages/Home.tsx
Owners: @SenaJesus, @Peloro

fix vercel path
  src/frontend/src/pages/Home.tsx
  src/frontend/vercel.json
Owners: @SenaJesus, @Peloro

.github/CODEOWNERS:

# Responsáveis pela documentação
/docs/requirements/    @caue-paiva @lejonck
/docs/architecture/    @caue-paiva @lfelipediniz
/docs/use_cases/       @caue-paiva @Peloro
/docs/interviews/      @caue-paiva @SenaJesus
/docs/tests/           @caue-paiva @Peloro

# Scripts e automações
/scripts/              @caue-paiva @SenaJesus

# Material de referência e exemplos de API
/reference-material/basic-api/  @caue-paiva

# Código-fonte da aplicação
/src/frontend/         @SenaJesus @Peloro
/src/backend/          @lejonck @lfelipediniz
